html, body {
    height: 100%;
}

body {
    margin:0px;
    padding-top: 70px;
    background: asset_url('background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-card {
  h2,h4 {
    margin-bottom: 1em;
  }
}